extends layout

block content
  .container-general
    h1 #{title}
    p Bienvenidos, esta pagina esta hecha para que cualquier persona pueda cifrar textos 
    textarea.signika-negative-font(id="textoUsuario" placeholder="Escribe tu texto aquí...")
    
    button.signika-negative-font(type="submit" class="boton") Boton accion