extends layout

block content
  .container-general
    h1 #{title}
    p Bienvenidos, esta pagina esta hecha para que cualquier persona pueda cifrar textos 
    textarea(id="textoUsuario" placeholder="Escribe tu texto aquí...")
    
    button(type="submit" class="boton") Boton accion