extends layout

block content
  .container-general
    .parrafo-caja
      h1 #{title}
      p Bienvenidos, esta pagina esta hecha para que cualquier persona pueda cifrar textos 
    
    form(action="/cifrar", method='post') 
      select.signika-negative-font(name='tipoCifrado')
        each metodo in metodosCifrado
          option(value=metodo.id)= metodo.nombre  
      textarea.signika-negative-font(name='textoOriginal' id="textoOriginal" placeholder="Escribe tu texto aquí...")
      button.signika-negative-font(type="submit" class="boton") Convertir


    // Hacer un hover a el textarea