doctype html
html
  head
    title #{title}
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/styles.css')
    
  body
    nav
      ul
        li
          a(href='/') Inicio
        if user != ''
          li
            a(href='/logout')
              i(class='material-symbols-rounded') logout
        else
          li
            a(href='/login')
              i(class='material-symbols-rounded') login
    .container
      block content
