extends layout

block content
  .container-general
    h1 #{title}
    p Este es el logout 
    textarea(id="textoUsuario" placeholder="Escribe tu texto aquí...")
    
    button(type="submit") Boton accion